html, body {
    margin: 0px;
    background-color: rgb(243, 227, 227);
    color: rgb(82, 59, 48);
    text-align: center;
    font-size: 1.2em;
}
.kart{
    margin: 20px;
    height: 300px;
    border: 2px;
    color: blue;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
}
.mesaj{
    background-color: green;
    color: black;
}
.link{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
#kart0,
#kart1,
#kart2{
    height: 280px;
    width: 230px;
    padding: 40px;
}